@page "/about"
<h1>A little about this website</h1>
<p>
    Not sure what to cook or bake, well this website will give you lists upon lists of ideas for dishes to make both sweet and savory.
    Search for different types of food just by typing the name of an ingredient or just a single letter for example Apples or A,
    so get searching and choose the idea that sounds best. while cooking or baking if you find that you need to convert some measurements just use our converter,
    it automatically calculates it for you.
</p>